@import url(//fonts.googleapis.com/css?family=Montserrat);

body {
  background: url(../img/sutro.jpg) center center no-repeat;
  background-size: auto 100vw;
}

.the-deets {
  > .row {
    .subscribe {
      margin-top: 2em;
    }
    background-color: rgba($primary-color, 0.85);
    padding: 2em;
    margin-top: 2em;
    color: #fff;
    a {
      color: #fff;
    }
    h2 {
      font-size: xx-large;
      color: #fff;
    }
  }
}

.what-it-is {
  .columns {
    font-size: x-large;
    background-color: #fff;
  }
}

.hero {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

.top-bar {
  margin-bottom: 5em;
  height: 72pt;
  background-color: $primary-color;
}

.title-area {
  h1 {
    color: #fff !important;
    font-size: 72pt !important;
    line-height: 72pt !important;
    width: auto !important;
    height: auto !important;
    background-image: none !important;
    background: transparent !important;
  }
}

.page-freecon {
  .tools {
    display: none;
  }

  #content {
    background: transparent;
  }
}
